%h4 Query Editor

.row-fluid
	.span9
		= render 'query_editor'

	.span3
		= render 'documentation'

= image_tag "spinnerLarge.gif", size: "20x20", class: 'loading-indicator'
%span{ id: "results" }
	= render 'results'
