<span>
<%= link_to zobject.split('_').join(' '),
  "http://knowledgecenter.zuora.com/C_Zuora_User_Guides/A_Billing_and_Payments/T_Reporting/D_Data_Source_Exports/#{zobject}_Data_Source",
  target: '_new' %>
<%= link_to "[SOAP]", "http://knowledgecenter.zuora.com/D_Zuora_APIs/SOAP_API/C_SOAP_API_Reference/F_API_Objects/#{zobject.split('_').join}", target: '_new' %>
</span>